.login{
    height: 100vh;
    background-image: linear-gradient(#0000007e, #0000007e), url(/background_banner.jpg);
    padding: 20px 8%;
}
.login-logo{
    width: 150px;
}
.login-form{
    max-width: 450px;
    margin: 0 auto;
    padding: 60px;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    width: 100%;
}
.login-form h1{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}
.login-form input{
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
}
.login-form input::placeholder{
    color: #999;
    font-size: 16px;
    font-weight: 400;
}
.login-form button{
    width: 100%;
    padding: 12px 20px;
    background: #e50914;
    color: white;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
}
.form-help{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b3b3b3;
    font-size: 13px;
}
.remember{
    display: flex;
    align-items: center;
    gap: 5px;
}
.remember input{
    width: 18px;
    height: 18px;
    vertical-align: auto;
    margin-top: 20px;
}
.form-switch{
    margin-top: 40px;
    color: #737373;
}
.form-switch span{
    margin-left: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}